* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-image: url(/images/noom-peerap-opac-title.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

/*  begin header styles */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

#movie-not-found-banner {
    display: none;
    font-size: 16px !important;
    width: 100%;
    position: relative;
    background: #A63D15;
    opacity: .6;
    color: #fff;
    text-align: center;
    padding: 0em 2em 1em; /* Adjust to suit */
    margin: 0em auto 3em;
}

#warning-banner {
    display: none;
    font-size: 16px !important;
    width: 100%;
    position: relative;
    background: #A63D15;
    opacity: .6;
    color: #fff;
    text-align: center;
    padding: 0em 2em 1em; /* Adjust to suit */
    margin: 0em auto 3em;
}

#thanks-banner {
    display: none;
    font-size: 16px !important;
    width: 100%;
    position: relative;
    background: #96BF48;
    color: #fff;
    text-align: center;
    padding: 0em 2em 1em; /* Adjust to suit */
    margin: 0em auto 3em;
}

.title-search-container {
    display: flex;
    justify-content: space-evenly;

}

.site-title-container {
    /* background-color: white; */
    
}

.site-title {
    padding: 20px;
    margin: 20px;
    color: #96BF48;
    font-size: 40px;
    display: none;
}

.search-bar {
    display: flex;
    margin: 20px;
    padding: 20px;
}

#search-icon-bar {
    display: flex;  
}

.form {
    margin: 20px;
    padding: 20px;
}
/* ^^^ end header styles ^^^ */

.main {
    background-color: #A63D15; 
    opacity: .6;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 500px;
}

.selection-results-container {
    display: flex;
    flex-direction: column;
    border: 2px so;
    width: 100%;

}

.movie-instance-container {
    display: flex;
    margin: 5px;
    flex-direction: column;
    text-align: center;
    background-color: #393939;
    border-radius: 10px;
    padding: 10px;
    color: white;
    justify-content: space-between;
}

.movie-title-font {
    font-family: 'Limelight', cursive;
}

.nominate-button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin: 1em 0.3em 0em 0.3em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:900;
    color:#FFFFFF;
    background-color:#674705;
    /* background-color: #96BF48; */
    text-align:center;
    transition: all 0.2s;
}

.nominate-button:hover {
    background-color:#96BF48;
}

.main-nom-container {
    display: flex;
    overflow-x: auto;
}

#nomination-list-container {
    /* margin: 20px;
    padding: 20px; */
    display: flex;
    flex-direction: column;
}

.nom-cards-container {
    display: flex;
}

.card-to-be-saved {
    display: flex;
    margin: 5px;
    flex-direction: column;
    text-align: center;
    background-color: #393939;
    border-radius: 10px;
    padding: 10px;
    color: white;
    justify-content: space-between;
}

.remove-button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    /* background-color:#4eb5f1; */
    background-color: #96BF48;
    text-align:center;
    transition: all 0.2s;
}

.remove-button:hover {
    background-color:#674705;
}

.nomination-list-title-button {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* color: #96BF48; */
}

.nom-list-title {
    color: #96BF48;
    font-size: 28px;
    font-weight: bold;
}

.nom-list-button {
    /* link: https://fdossena.com/?p=html5cool/buttons/i.frag */
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#96BF48;
    /* background-color: #96BF48; */
    text-align:center;
    transition: all 0.2s;
}

/* .nom-list-button:hover {
    background-color:#96BF48;
} */

#search-results-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: auto;
    /* height: 333px; */
    contain: content;
    overflow-y: auto;
}

.total-nominations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    /* border: 2px solid; */
    overflow-y: auto;

}

.total-conatiner-title {
    color: #96BF48;
    font-size: 28px;
    font-weight: bold;
    margin: 0 20px 20px;
}

#saved-nominations {
    background-color: ;
}

.saved-instances {
    background-color: #96BF48;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}